<mat-toolbar class="primary">
  <a class="navbar-brand logo" href="index.html"><img src="assets/images/partner/logo_1.png" alt="cruise" height="50px"></a>
  <button mat-icon-button (click)="sidenav.toggle();" class="primary">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="flex: 4 1 auto;"></span>
  <div routerLink="/chatgpt">
    <img src="assets/images/partner/chatgpt-vikingo.webp" alt="vikingi.ia" height="50px">
  </div>
  <span style="flex: 1 1 auto;"></span>
  <label style="font-size: 14px; margin-right: 20px;">Usuario</label>
  <button mat-icon-button  class="primary">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <!-- <mat-sidenav #sidenav role="navigator" opened mode="side" style="width: 220px; background: black;"> -->
  <mat-sidenav #sidenav mode="side"  class="primary nav-bar-lenght">
    <mat-nav-list>
      <mat-list-item routerLink="/" (click)="sidenav.close();">
        <mat-icon matListItemIcon style="color: white;">
          <span class="material-symbols-outlined">home</span>
        </mat-icon>
        <div matListItemTitle style="color: white;">Home</div>
      </mat-list-item>
      <mat-list-item routerLink="/marketing" (click)="sidenav.close()">
        <mat-icon matListItemIcon style="color: white;">
          <span class="material-symbols-outlined">psychology</span>
        </mat-icon>
        <div matListItemTitle style="color: white;">Vikingo-IA</div>
      </mat-list-item>
      <mat-list-item routerLink="/activities" (click)="sidenav.close()">
        <mat-icon matListItemIcon style="color: white;">
          <span class="material-symbols-outlined">downhill_skiing</span>
        </mat-icon>
        <div matListItemTitle style="color: white;">Actividades</div>
      </mat-list-item>
      <mat-list-item routerLink="/tour" (click)="sidenav.close()">
        <mat-icon matListItemIcon style="color: white;">
          <span class="material-symbols-outlined">card_travel</span>
        </mat-icon>
        <div matListItemTitle style="color: white;">Toures</div>
      </mat-list-item>
      <mat-list-item routerLink="/flight" (click)="sidenav.close()">
        <mat-icon matListItemIcon style="color: white;">
          <span class="material-symbols-outlined">flight</span>
        </mat-icon>
        <div matListItemTitle style="color: white;">Vuelos</div>
      </mat-list-item>
      <mat-list-item routerLink="/hotel" (click)="sidenav.close()">
        <mat-icon matListItemIcon style="color: white;">
          <span class="material-symbols-outlined">hotel</span>
        </mat-icon>
        <div matListItemTitle style="color: white;">Hoteles</div>
      </mat-list-item>
      <mat-list-item routerLink="/flight" (click)="sidenav.close()">
        <mat-icon matListItemIcon style="color: white;">
          <span class="material-symbols-outlined">flights_and_hotels</span>
        </mat-icon>
        <div matListItemTitle style="color: white;">Vuelos y Hoteles</div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 90vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
